*{
  /*will factor margin and padding into any width declared*/
  box-sizing: border-box;
}

body{
  background: #92bde7;
  font-family: 'Segeo UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #485e74;
  line-height: 1.6;
}
.container{
  margin-left:auto;
  margin-right:auto;
  max-width: 1170px;
  padding: 1em;
}
ul{
  list-style: none;
  padding: 0;

}

.brand{
  text-align: center;
}
.brand span{
  color: #fff;
}
.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
.wrapper > *{
  padding: 1em;
}
.corp-info{
  background:#c9e6ff;
}
.corp-info h3, .corp-info ul{
  margin: 0 0 1rem 0;
  text-align: center;
}
.contact{
  background: #f9feff;
}

/*FORM: SYTLES;*/
